.chat-room__screen {
  background-color: #abc1d1;
  padding-top: 110px;
}
.chat-room__screen .status-bar {
  background-color: #abc1d1;
}
.chat-room__screen .alt-header {
  background-color: #abc1d1;
}
.chat__timestamp {
  font-size: 12px;
  color: white;
  opacity: 0.7;
  background-color: rgba(0, 0, 0, 0.2);
  border: var(--border);
  border-radius: 15px;
  padding: 7px 10px;
  margin-bottom: 20px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.main-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.8s linear;
}
.message-row {
  width: 100%;
  display: flex;
  flex-direction: flex-start;
  margin-bottom: 20px;
}
.message-row img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
}
.message__author {
  opacity: 0.7;
  font-size: 15px;
  margin-bottom: 10px;
  display: block;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__bubble {
  background-color: white;
  padding: 8px 10px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  font-size: 15px;
  margin-right: 5px;
}
.message__time {
  font-size: 12px;
  opacity: 0.6;
}
.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-radius: 10px;
  border-top-right-radius: 0;
  margin-left: 5px;
  margin-right: 0;
}
.message-row--own .message__info {
  flex-direction: row-reverse;
}
.reply {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}
.reply input {
  height: 30px;
  width: 100%;
  border: var(--border);
  border-radius: 20px;
  padding-left: 15px;
  transition: all 0.3s ease-in-out;
}
.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -15px;
  top: 2px;
}
.reply__column:last-child > i {
  right: 25px;
  top: 17px;
}
.reply__column:last-child button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.reply__column:last-child button:focus,
.reply__column:last-child button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-face-smile,
.reply button {
  transition: opacity 0.5s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-smile,
.reply:focus-within button {
  opacity: 0;
}
.reply:focus-within input {
  width: 94vw;
  transform: translateX(-13%) translateY(-80px);
}
.reply:focus-within {
  transform: translateY(80px);
}
