#friends-display-link {
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding: 10px 0;
  margin-bottom: 5px;
}
#friends-display-link i {
  opacity: 0.3;
}
.friends-screen {
  padding: 0 var(--horizontal-space);
}
.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: var(--border);
  padding: 10px 0;
  margin-top: 12px;
  color: rgba(0, 0, 0, 0.5);
}
@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  animation: hideSplashScreen 0.5s ease-in-out forwards;
  animation-delay: 1.5s;
}
