.badge {
  background-color: tomato;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 8px;
  font-weight: 200;
}
.mini-badge {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: tomato;
}
