.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px var(--horizontal-space) 20px var(--horizontal-space);
}
.screen-header__title {
  font-weight: 600;
  font-size: 25px;
}
.screen-header__icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.screen-header__icons span {
  margin-left: 22px;
}
@keyframes rotateGear {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
.screen-header__icons .fa-gear:hover {
  animation: rotateGear 3s linear;
}
.screen-header__icons__gear {
  position: relative;
}
.screen-header__icons__notification {
  position: absolute;
  left: 20px;
  bottom: 17px;
}
